body
{

}



#lisiere/* sélectionne id lisiere et les paragraphes*/

{
	float: left;
	width: 30%; /* largeur de la secteur*/
	background-color: teal;
	font-family : Georgia ;
	max-height: auto;

}

#informations /* sélectionne les titres h3 dans l'ID informations*/
{
	float: right;
	width: 65%;
	background-color: aqua;

    /*word-wrap: break-word;*/
}


.TitreCV
{
	background-color: silver;
	text-decoration: underline; 
	font-size: 40px;
	font-family : "Times New Roman";
	color: blue;
	border : 6px,  blue, solid;	
}

.poste
{
	font-size: 30px;
	font-family : Georgia ;
}

.diplome
{
	font-size: 14px;
	font-family : Georgia;
	color: maroon;	
    font-weight: bold;
}

/*.missions
{
	font-size: 12px;
	font-family : Georgia;
	color: white;	
}/*/

.etablissement
{
	color: red;
	font-size: 16px;
}

.date
{
	color: purple;
}


