body
{

}

h1
{
	font-size: 50px;
}


#lisiere
{

	background-color: teal;
	box-sizing: border-box;
	border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom:2px solid black; /*bordure du bas */
    border-top:2px solid black; /* bordure du haut */
    padding: 12px; /* Marge intérieure de 12px */    
	float: left;
	width: 30% /* largeur du secteur*/
	margin-bottom: -1000px;   /* astuce du margin et du padding pour que les deux divs aient la même longueur. */
    padding-bottom: 703px;


    /*word-wrap: break-word;*/
}


#informations 
{
	border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom:2px solid black; /*bordure du bas */
    border-top:2px solid black; /* bordure du haut */
    padding: 12px; /* Marge intérieure de 12px */    
	float: right;
	width: 65%; /* largeur du secteur*/
	background-color: aqua;


    /*word-wrap: break-word;*/
}


.TitreCV
{
	background-color: silver;
	text-decoration: underline; 
	font-size: 40px;
	font-family : "Times New Roman";
	color: blue;
}

.poste
{
	font-size: 30px;
	font-family : Georgia ;
}

.diplome
{
	font-size: 14px;
	font-family : Georgia;
	color: maroon;	
    font-weight: bold;
}

/*.missions
{
	font-size: 12px;
	font-family : Georgia;
	color: white;	
}/*/

.etablissement
{
	color: red;
	font-size: 16px;
}

.date
{
	color: purple;
}


