body
{

}


/*       ///////Code pour les écrans ordi ////////       */

h1
{
	font-size: 50px;
    text-align: center;	
}

h2
{
	font-size: 30px;
	font-family : Georgia ;
}

h3
{
	font-size: 20px;
	padding-left: 245px;
    font-weight: normal;
}

#cvsection
{
	position: relative;
}

#lisiere
{
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: teal;
	box-sizing: border-box;
	border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom:2px solid black; /*bordure du bas */
    border-top:2px solid black; /* bordure du haut */
    padding: 12px; /* Marge intérieure de 12px */    
	float: left;
	height: 100%;
	width: 30%; /* largeur du secteur*
    /*word-wrap: break-word;*/
}


#informations 
{
	position: relative;	
	display: flex;
	flex-direction: column;
	border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom:2px solid black; /*bordure du bas */
    border-top:2px solid black; /* bordure du haut */
    padding: 12px; /* Marge intérieure de 12px */    
	float: right;
	width: 65%; /* largeur du secteur*/
	background-color: aqua;



}

#competences
{
	overflow: auto;
	word-wrap: break-word;
}

#contact
{
	overflow: auto; /*Coupe le bloc si dépassement des mots du cadre*/
	word-wrap: break-word;	
}

/*.fas.fa-map-marked-alt
{	
	font-size: 62px;

}*/

.PhotoProfilSmart
{
	display: none;
}

.PhotoProfil
{
	overflow: auto;
	word-wrap: break-word;		
}
.TitreCV
{
	background-color: silver;
	text-decoration: underline; 
	font-size: 40px;
	font-family : "Times New Roman";
	color: blue;
}

.descriptifposte
{
	font-family : Georgia ;
}

.diplome
{
	font-size: 14px;
	font-family : Georgia;
	color: maroon;	
    font-weight: bold;
}

.missions
{

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	width: 70%;
	float: right;
  	
}

.etablissement
{

	color: red;
	float: right;
	display: flex;
	flex-direction: row;
	font-size: 16px;
	width: 72%;
}

.date
{
	display: flex;
	flex-direction: row;
    flex-wrap: nowrap;
	float: left;	
	color: purple;
	width: 180px;
}


/*       ///////Code pour les petits écrans////////       */
@media screen and (max-width: 1280px)
{

	#cvsection
	{
		display: flex;
		flex-direction: column-reverse;
		flex : auto	;
	    background-color: white;	
	}

	#lisiere
	{
		flex-direction: column;	
		background-color: gray;
    	width: 100%;  
	}


	#informations 
	{
		display: flex;
		flex-direction: column;	
		background-color: aqua;		
    	padding: 12px; /* Marge intérieure de 12px */  
    	width: 100%;    


	}
	.PhotoProfilDesktop
	{
		display: none;
	}

	.PhotoProfilSmart
	{
		display: block;
	    text-align: center;		

	}

	.diplome
	{
		font-size: 14px;
		font-family : Georgia;
		color: maroon;	
   	 	font-weight: bold;
	}

	.date
	{
		color: purple;
	}

	#competences
	{
		display: flex;
		overflow: auto;
		word-wrap: break-word;
		flex-direction: column-reverse;
	}

}
